{% extends 'base.html' %}
{% block title %}Backup Data{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-header bg-primary text-white">
            <h4>Backup Data</h4>
        </div>
        <div class="card-body text-center">
            <p>Click the button below to download complete backup of all data.</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-lg">
                    <i class="bi bi-download"></i> Download Backup
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
