Django==6.1
django-jazzmin==3.0.5
whitenoise==6.7.0
python-decouple==3.8
dj-database-url==2.2.0
psycopg2-binary==2.9.10
Pillow==11.1.0
social-auth-app-django==5.4.3
channels==4.3.0
daphne==4.2.0
gunicorn==23.0.0
cloudinary==1.46.2
django-cloudinary-storage==0.3.0
cloudinary==1.46.2
django-cloudinary-storage==0.3.0
