{% extends 'base.html' %}
{% block title %}Update Profile{% endblock %}
{% block content %}
<h2>Update Profile Photo & ID</h2>
{% if messages %}
<div class="alert alert-success">{% for m in messages %}{{ m }}{% endfor %}</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card p-3 mb-3">
        <h5>Profile Photo</h5>
        {% if profile.profile_photo %}
        <img src="{{ profile.profile_photo.url }}" width="100" class="mb-2">
        {% endif %}
        <input type="file" name="profile_photo" class="form-control" accept="image/*">
    </div>
    

    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
